NODE_ENV=development
PORT=8080
HOST=0.0.0.0
APP_NAME=
MAIL_LINK=http://localhost:5173

MONGODB_URI=
DB_NAME=

REDIS_HOST=
REDIS_PORT=17062
REDIS_PASSWORD=
REDIS_URL=

COOKIE_SECRET=d1e7c73c65ecf656e6be7d46ef98eb228b43fb66355fe76c9cae80e32a694b2f
ACCESS_TOKEN_SECRET=rfu7dM5CHtatGXpt2Tdk2ST6d9ElmXyx2sLZLMP88An5WSN3FuUSbn2xak6lmngRf6Z5X8wjamh
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Rma5m2FXGN7ZBPfuhZ849wfDehos5qAp4Z6CjNMDagYNNYzCSlTeKCUoyiv4pj7qE4sY5Dg7zyv
REFRESH_TOKEN_EXPIRY=10d
USER_TEMPORARY_TOKEN_EXPIRY=3600000
USER_PASSWORD_EXPIRY=86400000


MAILTRAP_SMTP_HOST=smtp.gmail.com
MAILTRAP_SMTP_PORT=587
MAILTRAP_SMTP_USER=
MAILTRAP_SMTP_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/users/google/callback
GOOGLE_REDIRECT_URI=http://localhost:8080/api/v1/connections/google/callback

CLIENT_SSO_REDIRECT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173

CORS_ORIGIN=*

SOL_PRIVATE_KEY=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

LOG_LEVEL=debug

KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
SENSITIVE_RATE_LIMIT_WINDOW_MS=600000
SENSITIVE_RATE_LIMIT_MAX_REQUESTS=10

